{% extends '::front_layout.html.twig' %}

 {% block modelo %} active {% endblock %}
{% block modelo1007 %} class="active" {% endblock %}
{% block title %}Flujo-Pasivos en el ext.{% endblock %}

{% block body -%}
    <h1><i class="fa fa-credit-card"></i>Pasivos Externos Flujos(1007)</h1>


    <div class="row">
        <div class="col-xs-12">
            <div class="box">
                <div class="box-header">
                    <h3 class="box-title">Detalles del modelo 1007: {{ entities[0].modelo.usuario.empresa.nombre }}</h3>

                    <div class="pull-right">
                        <a href="{{ path('modelo1007') }}" class="btn  btn-xs btn-primary">Volver</a>
                    </div>
                </div>
                <!-- /.box-header -->
                <div class="box-body">


                    <table id="example2" class="table table-bordered table-hover dataTable">
                        <thead>
                        <tr >
                            <th style="visibility: hidden"> id</th>
                            <th>NUM_CONTRA</th>
                            <th> PRESTAMISTA </th>
                            <th> COD_PAIS </th>
                            <th>SIG_MONEDA</th>
                            <th>IMP_NFREC</th>
                            <th>TERMINO </th>
                            <th>IMP_TOTPR</th>
                            <th>IMP_INTCMV</th>
                            <th>PRINCI_VDO</th>
                            <th>IMP_INTCMN</th>
                            <th>IMP_INTPV</th>
                        </tr>

                        </thead>
                        <tfoot>
                        <tr>
                            <td style="visibility: hidden">
                                <input type="hidden" id="addid">
                            </td>
                            <td>
                                <input type="text" id="addcontrato" placeholder="contrato" class="form-control" style="width: 100%">
                            </td>
                            <td>
                                <input type="text" id="addprestamista" placeholder="prestamista" class="form-control" style="width: 100%">
                            </td>
                            <td>
                                <select type="text" id="addpais" placeholder="pais" class="form-control" style="width: 100%">
                                    <option value=""></option>
                                    {% for pais in pais %}
                                        <option value="{{ pais.id }}">{{ pais.abrev }}</option>
                                    {% endfor %}
                                </select>
                            </td>
                            <td>
                                <select type="text" id="addmoneda" placeholder="moneda" class="form-control" style="width: 100%">
                                    <option value=""></option>
                                    {% for moneda in monedas %}
                                        <option value="{{ moneda.id }}">{{ moneda.abrev }}</option>
                                    {% endfor %}
                                </select>
                            </td>
                            <td>
                                <input type="text" id="addimpnfrec" placeholder="impnfrec" class="form-control" style="width: 100%">
                            </td>
                            <td>
                                <input type="text" id="addtermino" placeholder="termino" class="form-control" style="width: 100%">
                            </td>
                            <td>
                                <input type="text" id="addimptotpr" placeholder="imptotpr" class="form-control" style="width: 100%">
                            </td>
                            <td>
                                <input type="text" id="addintcmv" placeholder="intcmv" class="form-control" style="width: 100%">
                            </td>
                            <td>
                                <input type="text" id="addprincivdo" placeholder="princivdo" class="form-control" style="width: 100%">
                            </td>
                            <td>
                                <input type="text" id="addimpintcmn" placeholder="impintcmn" class="form-control" style="width: 100%">
                            </td>
                            <td>
                                <input type="text" id="addimpintpv" placeholder="impintpv" class="form-control" style="width: 100%">
                            </td>
                        </tr>
                        </tfoot>
                        <tbody>
                        {% for entity in entities %}
                            <tr data-valor="valor" class="click" >
                                <td style="visibility: hidden">{{ entity.id }} </td>
                                <td>{{ entity.contrato }}</td>
                                <td>{{ entity.prestamista }}</td>
                                <td>{{ entity.pais }}</td>
                                <td>{{ entity.moneda }}</td>
                                <td>{{ entity.impNfrec }} </td>
                                <td>{{ entity.termino }} </td>
                                <td>{{ entity.impTotpr }} </td>
                                <td>{{ entity.impIntcmv }} </td>
                                <td>{{ entity.princiVdo }} </td>
                                <td>{{ entity.impIntcmn }} </td>
                                <td>{{ entity.impIntpv }} </td>
                                <td hidden="hidden">{{ entity.moneda.id }}</td>
                                <td hidden="hidden">{{ entity.pais.id }}</td>

                            </tr>
                        {% endfor %}

                        </tbody>
                    </table>


                </div>
                <!-- /.box-body -->
            </div>
            <!-- /.box -->
        </div>
        <!-- /.col -->
    </div><!-- /.row -->


{% endblock %}
    {% block javascripts %}

        <script>
            var datacell;
            $('#addtermino').blur(function() {

                if($('#addtermino').val() >=1 ) {
                    var value = $('#addtermino').val()/360;
                    $('#addtermino').val(value.toFixed(3));
                }
            });

            $(".click").click(function(e) {
                e.preventDefault();
                datacell = $(this).context.cells;

                $('#addid').val(datacell[0].innerHTML);
                $('#addcontrato').val(datacell[1].innerHTML);
                $('#addprestamista').val(datacell[2].innerHTML);
                $('#addpais').val(datacell[13].innerHTML);
                $('#addmoneda').val(datacell[12].innerHTML);
                $('#addimpnfrec').val(datacell[5].innerHTML);
                $('#addtermino').val(datacell[6].innerHTML);
                $('#addimptotpr').val(datacell[7].innerHTML);
                $('#addintcmv').val(datacell[8].innerHTML);

                $('#addprincivdo').val(datacell[9].innerHTML);
                $('#addimpintcmn').val(datacell[10].innerHTML);
                $('#addimpintpv').val(datacell[11].innerHTML);

            });

            $(document).keypress(function(e){

                if(e.which == 13)
                {

                    var data = {
                        id: {{ entity }},
                        addcontrato: $('#addcontrato').val(),
                        addid: $('#addid').val(),
                        addprestamista: $('#addprestamista').val(),
                        addpais: $('#addpais').val(),
                        addtermino: $('#addtermino').val(),
                        addmoneda: $('#addmoneda').val(),
                        addimpnfrec: $('#addimpnfrec').val(),
                        addimptotpr: $('#addimptotpr').val(),
                        addintcmv: $('#addintcmv').val(),
                        addprincivdo: $('#addprincivdo').val(),
                        addimpintcmn: $('#addimpintcmn').val(),
                        addimpintpv: $('#addimpintpv').val()

                    };

                    $.ajax({
                        type: 'post',
                        url: '{{ path("modelo1007_addrow") }}',
                        data: data,
                        dataType: 'json',
                        success: function(data)
                        {console.info(data[0].addimpintpv);
                            if(data[0].result == 1) {

                                $('#example2  tr:last').after('<tr> ' +
                                '<td style="visibility: hidden">' + data[0].id +
                                '</td> <td>' + data[0].addcontrato +
                                '</td> <td>' + data[0].addprestamista +
                                '</td> <td>' + data[0].addpais +
                                '</td> <td>' + data[0].addmoneda +
                                '</td> <td>' + data[0].addimpnfrec +
                                '</td> <td>' + data[0].addtermino +
                                '</td> <td>' + data[0].addimptotpr +
                                '</td> <td>' + data[0].addintcmv +
                                '</td> <td>' + data[0].addprincivdo +
                                '</td> <td>' + data[0].addimpintcmn +
                                '</td> <td>' + data[0].addimpintpv +
                                '</td> <td hidden="hidden">' + data[0].addmonedaid +
                                '</td> <td hidden="hidden">' + data[0].addpaisid + '</td> </tr>');


                            }
                            if(data[0].result == -1)
                            {//console.info(valaddcontrato);
                                datacell[1].innerHTML = data[0].addcontrato;
                                datacell[2].innerHTML = data[0].addprestamista;
                                datacell[3].innerHTML = data[0].addpais;
                                datacell[4].innerHTML = data[0].addmoneda;
                                datacell[5].innerHTML = data[0].addimpnfrec;
                                datacell[6].innerHTML = data[0].addtermino;
                                datacell[7].innerHTML = data[0].addimptotpr;
                                datacell[8].innerHTML = data[0].addintcmv;
                                datacell[9].innerHTML = data[0].addprincivdo;
                                datacell[10].innerHTML = data[0].addimpintcmn;
                                datacell[11].innerHTML = data[0].addimpintpv;
                                datacell[12].innerHTML = data[0].addmonedaid;
                                datacell[13].innerHTML = data[0].addpaisid;
                            }

                            $('#addid').val('');
                            $('#addcontrato').val('');

                            $('#addprestamista').val('');
                            $('#addpais').val('');
                            $('#addtermino').val('');
                            $('#addmoneda').val('');
                            $('#addimpnfrec').val('');
                            $('#addimptotpr').val('');
                            $('#addintcmv').val('');
                            $('#addprincivdo').val('');
                            $('#addimpintcmn').val('');
                            $('#addimpintpv').val('');


                        }


                    });


                }


            });

        </script>

    {% endblock %}