{% extends '::front_layout.html.twig' %}

 {% block modelo %} active {% endblock %}
{% block modelo1006 %} class="active" {% endblock %}

{% block title %}Pasivos en el ext.{% endblock %}
{% block body -%}
    <h1><i class="fa fa-credit-card"></i> Pasivos Ext.(1006)</h1>

    <div class="row">
        <div class="col-xs-12">
            <div class="box">
                <div class="box-header">
                    <h3 class="box-title">Listado de Pasivos Ext.(1006)</h3>

                    <div class="pull-right">
                        <a href="{{ path('modelo1006_new') }}" class="btn  btn-xs btn-primary">Adicionar</a>
                    </div>
                </div>
                <!-- /.box-header -->
                <div class="box-body">


                    <table id="example1" class="table table-bordered table-striped">
                        <thead>
                        <tr>
                            <th> Código One</th>
                            <th> Empresa </th>
                            <th> Mes </th>
                            <th>Elaborado por </th>
                            <th>Estado</th>
                            <th>Mostrar</th>
                            <th>Editar</th>
                            <th>Eliminar</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for entity in entities %}
                            <tr>
                                <td>{{ entity.usuario.empresa.codigo }}</td>
                                <td>{{ entity.usuario.empresa.nombre }}</td>
                                <td>

                                    {% if entity.fecha | date('m') == 01 %}
                                        Enero
                                    {% elseif entity.fecha | date('m') == 02 %}
                                        Febreo
                                    {% elseif entity.fecha | date('m') == 03 %}
                                        Marzo
                                    {% elseif entity.fecha | date('m') == 04 %}
                                        Abril
                                    {% elseif entity.fecha | date('m') == 05 %}
                                        Mayo
                                    {% elseif entity.fecha | date('m') == 06 %}
                                        Junio
                                    {% elseif entity.fecha | date('m') == 07 %}
                                        Julio
                                    {% elseif entity.fecha | date('m') == 08 %}
                                        Agosto
                                    {% elseif entity.fecha | date('m') == 09 %}
                                        Septiembre
                                    {% elseif entity.fecha | date('m') == 10 %}
                                        Octubre
                                    {% elseif entity.fecha | date('m') == 11 %}
                                        Noviembre
                                    {% elseif entity.fecha | date('m') == 12 %}
                                        Diciembre
                                    {% endif %}

                                </td>
                                <td>{{ entity.usuario.name }}</td>

                                <td>
                                    {% if entity.estado == 1 %}

                                        <a id="confirmar" href="#" onclick='cambiar("{{ path('modelo1006_confirmar', { 'id': entity.id }) }}")'><span class="badge center-block" style="padding-left: 2%; padding-right: 2%; background: green" title="Confirmar modelo">Nuevo</span></a>
                                    {% elseif entity.estado == 2 and is_granted('ROLE_SUPER') %}
                                        {#<span class="badge center-block" style="padding-left: 2%; padding-right: 2%; background: red">Confirmado</span>#}
                                        <a id="revertir" href="#" onclick='revertir("{{ path('modelo1006_revertir', { 'id': entity.id }) }}")'><span class="badge center-block" style="padding-left: 2%; padding-right: 2%; background: red" title="Revertir estado">Confirmado</span></a>
                                        {% elseif entity.estado == 2 and not is_granted('ROLE_SUPER') %}
                                        <span class="badge center-block" style="padding-left: 2%; padding-right: 2%; background: red">Confirmado</span>
                                    {% elseif entity.estado == 3 %}
                                        <span class="badge center-block" style="padding-left: 2%; padding-right: 2%; background: blue">Cerrado</span>
                                    {% endif %}
                                </td>
                                <td align="center">
                                    <a href="{{ path('modelo1006_show', { 'id': entity.id }) }}"><i class="fa fa-eye"></i></a>

                                </td>
                                <td align="center">
                                    {% if entity.estado == 1 %}
                                        <a href="{{ path('modelo1006_edit', { 'id': entity.id }) }}"><i class="fa fa-edit"></i></a>
                                    {% endif %}
                                </td>
                                <td align="center">
                                    {% if entity.estado == 1 %}
                                        <a id="delete" href="#" onclick='eliminar("{{ path('modelo1006_delete', { 'id': entity.id }) }}")'><i class="fa fa-times-circle"></i></a>
                                    {% endif %}
                                </td>

                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>


                </div>
                <!-- /.box-body -->
            </div>
            <!-- /.box -->
        </div>
        <!-- /.col -->
    </div><!-- /.row -->


{% endblock %}
